Bienvenue sur le discord des Familles , vous pouvez ici parler entre familles et envoyer une candidature pour une famille par exemple !
Je vous laisse faire comme vous voulez ;) ! Avec quelques exceptions , PAS D'INSULTE , PAS DE CLASH , PAS DE MUSIQUE INAPROPRIER !
